<!DOCTYPE html>
<html>
    <head>
      <script src="node_modules/stardog/dist/stardog.js"></script>
      <script src="node_modules/requirejs/require.js"></script>
         <title>My Semantic Web Application</title>
    </head>
    <body style="font-family:calibri;">
      {{{body}}}
      <script>
      var decodedJson = decodeURIComponent("{{{encodedJson}}}");
      var hospitals = JSON.parse(decodedJson);
      
      console.log(hospitals);
               function initMap() {
                 var LatLng = {lat: 51.507357, lng: -0.127982};
                   var map = new google.maps.Map(document.getElementById('map'), {
                     zoom: 12,
                     center: LatLng
                   });
                   var infoWindow = new google.maps.InfoWindow;

                     hospitals.forEach(function(elem){
                     var LatLng = {lat: parseFloat(elem.lat), lng: parseFloat(elem.long)};
                     var name = elem.name;
                     var adress = elem.adress;
                     var phone = elem.phone

                    // [TITLE] Hospital name
                     var infowincontent = document.createElement('div');
                     var strong = document.createElement('strong');
                     strong.textContent = name;
                     infowincontent.appendChild(strong);
                     infowincontent.appendChild(document.createElement('br'));

                    // [TEXT] Adress
                     var adress_text = document.createElement('text');
                     adress_text.textContent = adress;
                     infowincontent.appendChild(adress_text);
                     infowincontent.appendChild(document.createElement('br'));

                    // [TEXT] Phone
                     var phone_number = document.createElement('text');
                     phone_number.textContent = phone;
                     infowincontent.appendChild(phone_number);
                     infowincontent.appendChild(document.createElement('br'));

                    // [LINK] More info
                      var url = "moreInfo/" + elem.city + "&" + name + "&" + parseFloat(elem.lat) + "&" + parseFloat(elem.long);
                      var urlLink = document.createElement("a"); 
                      urlLink.setAttribute('href', url);       
                      var t = document.createTextNode("More informations");       
                      urlLink.appendChild(t);                                
                      infowincontent.appendChild(urlLink);  

                     var marker = new google.maps.Marker({
                       name: name,
                       position: LatLng,
                       map: map
                     });

                     marker.addListener('click', function() {
                       infoWindow.setContent(infowincontent);
                       infoWindow.open(map, marker);
                       console.log(marker.getPosition().lat());
                       console.log(marker.getPosition().lng());
                       console.log(marker.name);
                     });
                     })

               }

      </script>

       <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaKLg647-Y_iDsA-DYJ3-nv1VaPlI4028&callback=initMap">
       </script>
     </body>
</html>

<style>
      #map {
        height: 400px;
        width: 100%;
       }
</style>
